body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  font-size: 16px;
  background-color: #fcf7e5;
  color: #4f400b;
}

.jumbotron {
  background-color: #636b8d;
  color: white;
  margin-top: 16px;
}
  
.jumbotron .col-sm-5 {
  text-align: center;
}
  
.jumbotron img {
  width: 300px;
}

.jumbotron img.img-responsive {
  vertical-align: center;
  border-width: 2px;
  border-color: black
}

.resume {
  font-style: italic;
}

 a:link {
  text-decoration: none;
  color: white;
}
  
a:visited {
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}

img {
  width: 100px;
}
